* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Added some colour and changed the font for the header, moved the text in the centre and made it a little bigger
  */
header {
  background-color: cornsilk;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
}

/* moved the header and the links into 1 section  */
h1 {
  display: inline-block;
}

header nav {
  float: right;
}

/* realised that to move the text within the container i have to target the property within that container so target with nav a  */
header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  justify-content: baseline;
  margin-left: 25px;
}

nav a {
  color: lightsalmon;
  text-decoration-line: underline;
  font-size: 25px;
  margin-right: 20px;
}

/* Added an image by targetting the hero-banner  */
.hero-banner {
  background-image: url("../images/travel.jpg");
  background-size: contain;
  height: 180px;
  display: flex;
  align-items: flex-end;
  justify-content: right;
  padding-right: 80px;
}

/* Added to my subtitle by targeting the class and h2 property directly  */
.hero-banner h2 {
  background-color: cadetblue;
  width: 260px;
  height: 40px;
}

/* Added a content grid with rows and columns of how the text and images will apear on the page.   */
#contentGrid {
  display: grid;
  margin: 120px;
  row-gap: 15px;
  column-gap: 15px;
  grid-template-rows: 1fr 3fr 1.5fr 1.5fr 1fr;
  grid-template-columns: 20% 40% 40%;
  grid-template-areas:
    "aboutme abtext abtext"
    "myexperience meimage meimage"
    "nodata myexperience1 myexperience2"
    "nodata myexperience3 myexperience4"
    "contactme cmlinks cmlinks";
}

/* Had to seperate the headings from the content to put them in order they appear and the correct placement */
#aboutme {
  grid-area: aboutme;
  margin-bottom: 15px;
}

#myexperience {
  grid-area: myexperience;
}

#contactme {
  grid-area: contactme;
}

#cmlinks {
  grid-area: cmlinks;
}

#meimage {
  grid-area: meimage;
}

/* Added the elements within the grid  */
#myexperience1 {
  grid-area: myexperience1;
  background-image: url("../images/flowers.jpg");
  background-size: cover;
  border: 4px solid;
  border-color: black;
}

#myexperience2 {
  grid-area: myexperience2;
  background-image: url("../images/travel.jpg");
  background-size: cover;
  border: 4px solid;
  border-color: black;
}

#myexperience3 {
  grid-area: myexperience3;
  background-image: url("../images/02-run-buddy.jpg");
  border: 4px solid;
  border-color: black;
}

#myexperience4 {
  grid-area: myexperience4;
  background-image: url("../images/02-hero-bg.jpg");
  border: 4px solid;
  border-color: black;
}

#nodata {
  grid-area: nodata;
}

#abtext {
  grid-area: abtext;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
}

.contentHeading {
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

#meimage {
  background-image: url("../images/02-portfolio-3.jpg");
  border: 4px solid;
  border-color: black;
}

/* wanted to make the boxes blend in to the background rather than keep the same for all  */
#myexperience4 p {
  display: inline-block;
  background-color: black;
  height: 60px;
  width: 100px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}

#myexperience3 p {
  display: inline-block;
  background-color: yellowgreen;
  height: 60px;
  width: 100px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}

#myexperience2 p {
  display: inline-block;
  background-color: lightskyblue;
  height: 60px;
  width: 100px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}

#myexperience1 p {
  display: inline-block;
  background-color: grey;
  height: 60px;
  width: 100px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}

#meimage p {
  display: inline-block;
  background-color: darkcyan;
  height: 60px;
  width: 100px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}

#abtext img {
  height: 200px;
  padding-left: 40px;
  padding-right: 20px;
}

#cmlinks a {
  margin: 100px;
  padding: 100px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: cadetblue;
}

@media only screen and (max-width: 600px) {

  #contentGrid {
    margin: 10px;
    row-gap: 20px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px 350px 80px 400px 150px 150px 150px 150px 80px 200px;
    grid-template-areas:
      "aboutme"
      "abtext"
      "myexperience"
      "meimage"
      "myexperience1"
      "myexperience2"
      "myexperience3"
      "myexperience5"
      "contactme"
      "cmlinks";
  }

  .hero-banner {
    background-repeat: repeat;
    height: 200px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding-right: 10px;
  }

  .hero-banner h2 {
    padding: 10px;
    margin: 10px;
    width: 600x;
    height: 80px;
  }

  #contentHeading {
    display: grid;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 10px;
    margin-left: 20px;
    padding: 20px;
  }

  #nodata {
    display: none;
  }

  #cmlinks a {
    margin: 50px;
    padding: 50px;
  }

  #abtext {
    margin-bottom: 10px;
  }
  #myexperience {
margin-top: 20px;
  }
}