* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Added some colour and changed the font for the header, moved the text in the centre and made it a little bigger
  */
header h1 {
  background-color: olive;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

nav {
  background-color: bisque;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* realised that to move the text within the container i have to target the property within that container so target with nav a  */
nav a {
  color: blue;
  padding: 20px;
  font-size: 20px;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Added an image by targetting the hero-banner  */
.hero-banner {
  background-image: url("../images/02-portfolio-1.jpg");
  height: 180px;
  display: flex;
  align-items: flex-end;
  justify-content: right;
  padding-right: 50px;
}
/* Added to my subtitle by targeting the class and h2 property directly  */
.hero-banner h2 {
background-color: orange;
width: 360px;
height: 50px;
}